
body {
  font-family: Arial;
}

th.rotate {
  height: 140px;
  white-space: nowrap;
  padding: 0px !important;
}

th.rotate > div {
  transform:
          translate(15px, 80px)
          rotate(270deg);
  width: 10px;
}

.nbElements { // to show the number of observations that participate in a total
  font-size: x-small;
  color: gray;
}

.weight { // to highlight the weight in the list of observations
  font-size: large;
  font-weight: bold;
}

// let's not print the bottom form and button
@media print {
  #addform {
    display: none;
  }

}