body {
  font-family: Arial;
}

th.rotate {
  height: 140px;
  white-space: nowrap;
}

th.rotate > div {
  -webkit-transform: translate(15px, 80px) rotate(270deg);
          transform: translate(15px, 80px) rotate(270deg);
  width: 10px;
}

